<h1>Users</h1>

<%= link_to 'New User', new_user_path,  class: 'pull-right btn btn-primary'%>
<table class='table table-condensed table-striped table-hover'>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Edit', edit_user_path(user), id: "edit_#{user.id}" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete_#{user.id}" %></td>
      </tr>
    <% end %>
</table>

